packages/
VNCF.PSS.Web/bin/
VNCF.PSS.Web/obj/
CF.Web/bin/
CF.Web/obj/
CF.System.BLL/obj/
CF.SQLServer.DAL/obj/
CF.Framework.Web/obj/
CF.Framework.Utility/obj/
CF.Framework.DAL/obj/
CF.Framework.Contract/obj/
CF.Core.Upload/obj/
CF.Core.Service/obj/
CF.Core.Module/obj/
CF.Core.Log/obj/
CF.Core.Config/obj/
CF.Core.Cache/obj/
CF.Account.DAL/obj/
.vs/


Properties/licenses.licx

