
@{
    ViewBag.Title = "生產流程";
}
@section PageSpecificStyleSheetIncludes{
    @*<link type="text/css" rel="stylesheet" href="~/Content/Hg/static/css/CFStyle.css?v=20201117102416261">*@
    <style type="text/css">
        .div-cont{
            float:left;
            width:80%;
            border:0px solid #F00;
        }
        .divcss5-cent{margin:0 auto;width:80%;height:80%;border:1px solid #F00}
        .img-plan{
            border:thick;
            width:80%;
        }
        
    </style>
}
<div id="app">
    <vxe-toolbar perfect size="medium" style="height:35px;" >
        <template #buttons>
            <vxe-button type="text" icon="fa fa-plus" content="新增" @@click="addNew()"></vxe-button>
            <vxe-button type="text" icon="fa fa-save" content="儲存" @@click="saveEvent()"></vxe-button>
            <vxe-button type="text" icon="fa fa-trash-o" content="删除"></vxe-button>
            @*<vxe-input v-model="searchProductMo" class="my-search" placeholder="輸入制單編號" style="height:30px;margin:105px,0px;">
                <template #suffix>
                    <i class="fa fa-search" @@click="searchByProductMo(searchProductMo)"></i>
                </template>
            </vxe-input>*@
            <vxe-input v-model="searchProductMo" placeholder="請輸入制單編號,點擊對應的功能" style="height:20px;margin-top:10px;font-size:9px"></vxe-input>
            <vxe-button status="primary" icon="fa fa-search" @@click="searchByProductMo(searchProductMo)" style="height:25px;margin-top:10px">搜索</vxe-button>
            <vxe-button status="primary" icon="fa fa-copy" @@click="searchByProductMo(searchProductMo)" style="height:25px;margin-top:10px">從舊單匯入</vxe-button>
            <vxe-button status="primary" icon="fa fa-copy" @@click="searchByProductMo(searchProductMo)" style="height:25px;margin-top:10px">從CFOC匯入</vxe-button>
        </template>
    </vxe-toolbar>
    @*<p style="background-color:aqua;margin:0;">abc</p>*@
    @*<div style="height:40px;margin:0px;">*@
            <p style="height:25px;margin:0px;">
                <vxe-radio-group v-model="selectTab" style="height:20px;margin:0px;">
                    <vxe-radio-button label="tab1" content="生產主表"></vxe-radio-button>
                    <vxe-radio-button label="tab2" content="生產明細表"></vxe-radio-button>
                    @*<vxe-radio-button label="tab3" content="制單配件"></vxe-radio-button>*@
                    
                </vxe-radio-group>
            </p>
    @*</div>*@
    <div v-show="selectTab === 'tab1'" style="margin:15px 0px;">
        <div class="div-cont">
            <div class="div-left">
                <vxe-form :data="formData" @@submit="submitSearch" size="mini"  title-align="right" title-width="100px" prevent-submit title-colon custom-layout>@**@
                    <vxe-form-item title="制單編號" field="ProductMo" :item-render="{}" span="6" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.ProductMo" placeholder="请输入制單編號" @@blur="productMoBlurEvent()" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="版本號" field="Ver" :item-render="{}" span="6" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.Ver" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="計劃單日期" field="PlanDate" :item-render="{}" span="6" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.PlanDate" type="date" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>

                    <vxe-form-item title="客戶編號" field="CustomerID" :item-render="{}" span="6" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.CustomerID" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="訂單數量" field="OrderQty" :item-render="{}" span="6" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.OrderQty" type="number" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="數量單位" field="OrderUnit" :item-render="{}" span="6" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-select v-model="data.OrderUnit" size="mini">
                                <vxe-option v-for="item in QtyUnitList" :key="item.ID" :value="item.Name" :label="item.Name"></vxe-option>
                            </vxe-select>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="要求日期" field="RequestDate" :item-render="{}" span="6" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.RequestDate" type="date" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="交貨日期" field="DeliveryDate" :item-render="{}" span="6" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.DeliveryDate" type="date" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="產品備註" field="ProductRemark" :item-render="{}" span="12" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.ProductRemark" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="制單備註" field="MoRemark" :item-render="{}" span="12" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.MoRemark" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="計劃備註" field="PlanRemark" :item-render="{}" span="12" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.PlanRemark" class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="開單人" field="CreateUser" :item-render="{}" span="6" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.CreateUser" disabled class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="開單日期" field="CreateTime" :item-render="{}" span="6" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.CreateTime" disabled class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="修改人" field="AmendUser" :item-render="{}" span="6" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.AmendUser" disabled class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="修改日期" field="AmendTime" :item-render="{}" span="6" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.AmendTime" disabled class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="批準人" field="ApprovedUser" :item-render="{}" span="6" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.ApprovedUser" disabled class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    <vxe-form-item title="批準日期" field="ApprovedTime" :item-render="{}" span="6" class="vxe-form-item-customize">
                        <template #default="{ data }">
                            <vxe-input v-model="data.ApprovedTime" disabled class="input-customize"></vxe-input>
                        </template>
                    </vxe-form-item>
                    
                </vxe-form>
                @*<vxe-input v-model="value100" span="6" placeholder="默认尺寸"></vxe-input>
            <vxe-input v-model="value101" span="6" placeholder="中等尺寸" size="medium"></vxe-input>
            <vxe-input v-model="value102" span="6" placeholder="小型尺寸" size="small"></vxe-input>
            <vxe-input v-model="value103" span="6" placeholder="超小尺寸" size="mini"></vxe-input>*@
            </div>
            <div class="div-right">
                <p>
                    @*<img id="ArtImage" class="plan-img" src="~/Images/photo.png" />*@
                    <img :src="this.formData.ArtImageUrl" alt="..." class="img-plan">
                </p>
            </div>

        </div>
    </div>

    <div v-show="selectTab === 'tab2'" style="margin:15px 0px;">
        <vxe-toolbar style="height:35px">
            <template #buttons>
                <vxe-button icon="fa fa-plus" @@click="insertEvent(-1)" size="mini">項目新增</vxe-button>
                <vxe-button icon="fa fa-trash-o" @@click="deleteEvent()" size="mini">項目刪除</vxe-button>
            </template>
        </vxe-toolbar>
        <vxe-table border
                   show-overflow
                   height="350"
                   size="mini"
                   highlight-current-row
                   :row-config="{height: 20}"
                   ref="xTable"
                   :loading="loading3"
                   :sync-resize="selectTab"
                   :checkbox-config="{highlight: true, range: true}"
                   :data="tablePlanDetails"
                   :keyboard-config="{isArrow: true, isEnter: true,Backspace:true}"
                   :edit-config="{trigger: 'click', mode: 'row', icon: 'fa fa-pencil1', showStatus: true}">
            <vxe-column type="seq" title="序號" width="60"></vxe-column>
            <vxe-column field="GoodsID" title="物料編號" width="160" :edit-render="{autofocus: '.vxe-input--inner'}">
                <template #edit="{ row }">
                    <vxe-input v-model="row.GoodsID" maxlength="18" style="height:20px;" @@change="changeGoodsID(row)"></vxe-input>
                </template>
            </vxe-column>
            <vxe-column field="GoodsCname" title="物料描述" width="260"></vxe-column>
            <vxe-column field="WipID" title="負責部門" :edit-render="{}" width="80">
                <template #edit="{ row }">
                    <vxe-select v-model="row.WipID" size="mini">
                        <vxe-option v-for="item in wipList" :key="item.value" :value="item.value" :label="item.label"></vxe-option>
                    </vxe-select>
                </template>
            </vxe-column>
            <vxe-column field="NextWipID" title="收貨部門" :edit-render="{}" width="80">
                <template #edit="{ row }">
                    <vxe-select v-model="row.NextWipID" size="mini">
                        <vxe-option v-for="item in wipList" :key="item.value" :value="item.value" :label="item.label"></vxe-option>
                    </vxe-select>
                </template>
            </vxe-column>
            <vxe-column field="RequestQty" title="要求數量" :edit-render="{}" width="100">
                <template #edit="{ row }">
                    <vxe-input v-model="row.RequestQty" type="number" style="height:20px"></vxe-input>
                </template>
            </vxe-column>
            <vxe-column field="RequestDate" title="要求完成日期" :edit-render="{}" width="120">
                <template #edit="{ row }">
                    <vxe-input v-model="row.RequestDate" type="date" style="height:20px"></vxe-input>
                </template>
            </vxe-column>
            <vxe-column field="CompleteQty" title="完成數量" width="100"></vxe-column>
            <vxe-column field="CompleteDate" title="完成日期" width="120"></vxe-column>
            <vxe-column title="修改" width="60" :resizable="false" show-overflow>
                <template #default="{ row }">
                    <vxe-button type="text" icon="fa fa-edit" @@click="editRowEvent(row)"></vxe-button>
                </template>
            </vxe-column>
        </vxe-table>

        <vxe-modal ref="xModal" v-model="showEdit" title="编辑&保存" width="900" height="600" resize destroy-on-close>
            
                <template #default>
                    @*<div class="div-cont">*@
                        <vxe-form :data="editPlanDetails" title-align="right" title-width="160" @@submit="updateEvent" prevent-submit title-colon custom-layout>
                            <vxe-form-item align="left" span="24">
                                <template #default>
                                    <vxe-button v-if="selectRow" type="submit" status="primary">確定</vxe-button>
                                    <vxe-button v-else type="submit" status="primary">新增</vxe-button>
                                    @*<vxe-button type="reset">重置</vxe-button>*@
                                    <vxe-button @@click="$refs.xModal.close()">取消</vxe-button>
                                </template>
                            </vxe-form-item>
                            <vxe-form-item title="物料編號" field="GoodsID" span="12" :item-render="{}" class="vxe-form-item-customize">
                                <template #default="{ data }">
                                    <vxe-input v-model="data.GoodsID" class="input-customize" maxlength="18" style="width:76%"></vxe-input>
                                    <vxe-button icon="fa fa-search" class="input-customize" style="height:20px;width:18%;" @@click="showGoods"></vxe-button>
                                </template>
                            </vxe-form-item>
                            <vxe-form-item title="物料描述" field="GoodsCname" span="12" :item-render="{}" class="vxe-form-item-customize">
                                <template #default="{ data }">
                                    <vxe-input v-model="data.GoodsCname" class="input-customize"></vxe-input>
                                </template>
                            </vxe-form-item>
                            <vxe-form-item title="負責部門" field="WipID" span="12" :item-render="{}" class="vxe-form-item-customize">
                                <template #default="{ data }">
                                    <vxe-select v-model="data.WipID" size="mini">
                                        <vxe-option v-for="item in wipList" :key="item.value" :value="item.label" :label="item.label"></vxe-option>
                                    </vxe-select>
                                </template>
                            </vxe-form-item>
                            <vxe-form-item title="收貨部門" field="NextWipID" span="12" :item-render="{}" class="vxe-form-item-customize">
                                <template #default="{ data }">
                                    <vxe-select v-model="data.NextWipID" size="mini">
                                        <vxe-option v-for="item in wipList" :key="item.value" :value="item.label" :label="item.label"></vxe-option>
                                    </vxe-select>
                                </template>
                            </vxe-form-item>
                            <vxe-form-item title="要求數量" field="RequestQty" span="12" :item-render="{}" class="vxe-form-item-customize">
                                <template #default="{ data }">
                                    <vxe-input v-model="data.RequestQty" type="number" class="input-customize"></vxe-input>
                                </template>
                            </vxe-form-item>
                            <vxe-form-item title="要求完成日期" field="RequestDate" span="12" :item-render="{}" class="vxe-form-item-customize">
                                <template #default="{ data }">
                                    <vxe-input v-model="data.RequestDate" type="date" class="input-customize"></vxe-input>
                                </template>
                            </vxe-form-item>
                            
                        </vxe-form>
                    @*</div>*@
            </template>
            
        </vxe-modal>

        <vxe-modal ref="xModal1" v-model="showSearchGoods" title="查找" width="800" height="500" resize destroy-on-close>

            <template #default>
                @*<div class="div-cont">*@
                <vxe-form :data="searchGoodsDetails" title-align="right" title-width="100" @@submit="updateEvent">
                    <vxe-form-item title="物料編號" field="GoodsID" span="12" :item-render="{name: 'input', attrs: {placeholder: '请输入名称'}, events: {blur: getGoodsByID}}"></vxe-form-item>
                    <vxe-form-item align="center" span="24">
                        <template #default>
                            <vxe-button v-if="selectRow" type="submit" status="primary">確定</vxe-button>
                            <vxe-button v-else type="submit" status="primary">新增</vxe-button>
                            @*<vxe-button type="reset">重置</vxe-button>*@
                            <vxe-button @@click="$refs.xModal1.close()">取消</vxe-button>
                        </template>
                    </vxe-form-item>
                </vxe-form>
                @*</div>*@
            </template>

        </vxe-modal>


    </div>

    @*<div v-show="selectTab === 'tab3'">
        <vxe-table border
                   show-overflow
                   height="400"
                   :sync-resize="selectTab"
                   :data="tablePlanDetails">
            <vxe-table-column type="checkbox" width="60"></vxe-table-column>
            <vxe-table-column field="nickname" title="nickname"></vxe-table-column>
            <vxe-table-column field="sex" title="Sex"></vxe-table-column>
            <vxe-table-column field="age" title="Age"></vxe-table-column>
            <vxe-table-column field="date12" title="Date"></vxe-table-column>
            <vxe-table-column field="region" title="Region"></vxe-table-column>
            <vxe-table-column field="rate" title="Rate"></vxe-table-column>
        </vxe-table>
    </div>*@
</div>
@section PageSpecificJavascriptIncludes{
    <script src="~/Areas/Prod/js/Prod.js?v=@Guid.NewGuid().ToString()"></script>
    @*<link rel="stylesheet" href="~/Content/main_inv.css">*@
}
