
.vxe-form-item-group {
    width: 250px !important;
    height: 20px;
    /*background-color:aqua;*/
}

.vxe-form-item-model {
    width: 250px !important;
    height: 20px;
    /*background-color:aqua;*/
}

.vxe-form-item-group-search {
    width: 350px !important;
    height: 20px;
    /*background-color:aqua;*/
}

.vxe-form-item-input-search {
    height: 20px;
    font-size: 10px;
    width: 40% !important;
}

.vxe-form-item-input-search1 {
    height: 20px;
    font-size: 10px;
    width: 86% !important;
}