
@model Microsoft.Reporting.WebForms.ReportViewer
@using ReportViewerForMvc
@{
    ViewBag.Title = "Report";
}
<h2>Report</h2>

@Html.ReportViewer(Model)

@*<div style="width:100%; margin:0px auto; text-align:center; padding:0px">
    @Html.ReportViewer(Model)
</div>*@


