@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=big5" />
    <link rel="stylesheet" type="text/css" href="~/Lib/jquery-easyui-1.5/themes/default/easyui.css" />
    <link rel="stylesheet" type="text/css" href="~/Lib/jquery-easyui-1.5/themes/icon.css" />
    <link rel="stylesheet" type="text/css" href="~/Lib/jquery-easyui-1.5/demo/demo.css" />
    <script type="text/javascript" src="~/Lib/jquery-easyui-1.5/jquery.min.js"></script>
    <script type="text/javascript" src="~/Lib/jquery-easyui-1.5/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="~/Lib/jquery-easyui-1.5/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="~/Lib/jquery-easyui-1.5/easyuiDatePicker.js"></script>

</head>
<body>
    <a href="#" class="easyui-linkbutton" iconcls="icon-search" id="btnSerach" style="width:120px;height:25px">查詢</a>
    日前:<input id="txtDate_from" style="width:120px" class="easyui-datebox-expand" />
    產品編號:<input type="text" class="easyui-validatebox" id="txtPrd_item_to" name="txtPrd_item_to" style="width:120px" />
</body>
</html>

