
@{
    ViewBag.Title = "物料描述";// "Goods IndexPage";
}
@*@{@Html.Raw("@");}*@

<div id="app">
    <div class="div-cont">
        <div class="div-left">
    <vxe-form :data="searchParas" @@submit="submitSearch"  title-align="right" title-width="100px" title-colon custom-layout >
        <vxe-form-item span="24">
            <template #default>
                <vxe-button type="submit" status="primary" v-if="Common_Find">查询</vxe-button>                
                <vxe-button type="reset">重置</vxe-button>
            </template>
        </vxe-form-item>
        
        <vxe-form-item title="物料編號" field="goods_id" span="8" :item-render="{}" class="vxe-form-item-customize">
            <template #default="{ data }">
                <vxe-input v-model="data.goods_id" class="input-customize"></vxe-input>
            </template>
        </vxe-form-item>
        <vxe-form-item title="物料描述" field="goods_cname" span="8" :item-render="{}" class="vxe-form-item-customize">
            <template #default="{ data }">
                <vxe-input v-model="data.goods_cname" class="input-customize"></vxe-input>
            </template>
        </vxe-form-item>
        <vxe-form-item title="英文描述" field="goods_ename" span="8" :item-render="{}" class="vxe-form-item-customize">
            <template #default="{ data }">
                <vxe-input v-model="data.goods_ename" class="input-customize"></vxe-input>
            </template>
        </vxe-form-item>
        <vxe-form-item title="越文描述1" field="goods_vname1" span="8" :item-render="{}" class="vxe-form-item-customize">
            <template #default="{ data }">
                <vxe-input v-model="data.goods_vname1" class="input-customize"></vxe-input>
            </template>
        </vxe-form-item>
        <vxe-form-item title="越文描述2" field="goods_vname2" span="8" :item-render="{}" class="vxe-form-item-customize">
            <template #default="{ data }">
                <vxe-input v-model="data.goods_vname2" class="input-customize"></vxe-input>
            </template>
        </vxe-form-item>
        <vxe-form-item title="越文描述3" field="goods_vname3" span="8" :item-render="{}" class="vxe-form-item-customize">
            <template #default="{ data }">
                <vxe-input v-model="data.goods_vname3" class="input-customize"></vxe-input>
            </template>
        </vxe-form-item>       
       
    </vxe-form>
            </div>
        <div class="div-right">
            <p>
                @*<img id="ArtImage" class="plan-img" src="~/Images/photo.png" />*@
                <img :src="this.ArtImageUrl" alt="..." class="img-goods">
            </p>
        </div>
   </div>
    <div style="float:left;width:100%;margin-top:20px">
    <vxe-table border
               resizable
               highlight-hover-row
               show-overflow
               height="500"
               row-id="id"
               size="mini"
               :loading="loadingStatus"
               :data="goodsListPart"
               :row-config="{height: 30}"
               highlight-current-row
               :keyboard-config="{isArrow: true}"
               @@cell-click="goodsListCellClickEvent">
        <vxe-table-column type="seq" title="序號" width="60"></vxe-table-column>
        <vxe-table-column field="goods_id" title="物料編號" width="160" sortable></vxe-table-column>
        <vxe-table-column field="goods_cname" title="物料描述" width="260"></vxe-table-column>
        <vxe-table-column field="goods_ename" title="英文描述" width="260"></vxe-table-column>
        <vxe-table-column field="goods_vname1" title="越文描述1" width="200"></vxe-table-column>
        <vxe-table-column field="goods_vname2" title="越文描述2" width="200"></vxe-table-column>
        <vxe-table-column field="goods_vname3" title="越文描述3" width="200"></vxe-table-column>
        <vxe-table-column field="do_color" title="顏色做法" width="100"></vxe-table-column>
        <vxe-table-column title="修改" width="60" :resizable="false" show-overflow>
            <template #default="{ row }">            
                <vxe-button type="text" icon="fa fa-edit" @@click="editEvent(row)"></vxe-button>
            </template>
        </vxe-table-column>
        <template #empty>
            <span>
                @*<img src="/Images/no_data_img.gif">*@
                <p>沒有更多記錄了！</p>
            </span>
        </template>
    </vxe-table>

    <vxe-pager background
               size="small"
               :loading="loadingStatus"
               :current-page="tablePage.currentPage"
               :page-size="tablePage.pageSize"
               :total="tablePage.totalResult"
               :page-sizes="[50, 100, 150, {label: '大量数据', value: 1000}, {label: '全量数据', value: -1}]"
               :layouts="['PrevPage', 'JumpNumber', 'NextPage', 'FullJump', 'Sizes', 'Total']"
               @@page-change="handlePageChange3">
    </vxe-pager>
        </div>
    @*<form id="editGoods">*@
    <!--彈框編輯明細-->
    <vxe-modal ref="xModal" v-model="showEdit" title="编辑&保存" width="800" height="400px" resize destroy-on-close>
        <template #default>
            <vxe-form :data="newGoods" :rules="formRules" title-align="right" title-width="100" @@submit="submitEvent" title-colon custom-layout>
                <vxe-form-item align="left" span="24">
                    <template #default>
                        <vxe-button type="submit" status="primary" v-if="Common_Add">儲存</vxe-button>
                        @*<vxe-button type="reset">重置</vxe-button>*@
                        <vxe-button @@click="$refs.xModal.close()">關閉</vxe-button>
                    </template>
                </vxe-form-item>
                <vxe-form-item title="物料編號" field="goods_id" span="12"  :item-render="{}" class="vxe-form-item-customize">
                    <template #default="{ data }">
                        <vxe-input v-model="data.goods_id" disabled class="input-customize"></vxe-input>
                    </template>
                </vxe-form-item>
                <vxe-form-item title="物料描述" field="goods_cname" span="12" :item-render="{}" class="vxe-form-item-customize">
                    <template #default="{ data }">
                        <vxe-input v-model="data.goods_cname" disabled class="input-customize"></vxe-input>
                    </template>
                </vxe-form-item>
                <vxe-form-item title="英文描述" field="goods_ename" span="12" :item-render="{}" class="vxe-form-item-customize">
                    <template #default="{ data }">
                        <vxe-input v-model="data.goods_ename" disabled class="input-customize"></vxe-input>
                    </template>
                </vxe-form-item>
                <vxe-form-item title="越文描述1" field="goods_vname1" span="12" :item-render="{}" class="vxe-form-item-customize">
                    <template #default="{ data }">
                        <vxe-input v-model="data.goods_vname1" class="input-customize"></vxe-input>
                    </template>
                </vxe-form-item>
                <vxe-form-item title="越文描述2" field="goods_vname2" span="12" :item-render="{}" class="vxe-form-item-customize">
                    <template #default="{ data }">
                        <vxe-input v-model="data.goods_vname2" class="input-customize"></vxe-input>
                    </template>
                </vxe-form-item>
                <vxe-form-item title="越文描述3" field="goods_vname3" span="12" :item-render="{}" class="vxe-form-item-customize">
                    <template #default="{ data }">
                        <vxe-input v-model="data.goods_vname3" class="input-customize"></vxe-input>
                    </template>
                </vxe-form-item>
                <vxe-form-item title="顏色做法" field="do_color" span="12" item-render="{}" class="vxe-form-item-customize">
                    <template #default="{ data }">
                        <vxe-input v-model="data.do_color" class="input-customize"></vxe-input>
                    </template>
                </vxe-form-item>
            </vxe-form>
        </template>
    </vxe-modal>

</div>


@section PageSpecificJavascriptIncludes{
    <script type="text/javascript">
        var vm = new Vue({
            el: "#app",
            data: {                
                goodsList: [],
                goodsListPart:[],
                newGoods: { goods_id: '', goods_cname: '', goods_ename: '', goods_vname1: '', goods_vname2: '', goods_vname3: '' },
                searchParas: { goods_id: '', goods_cname: '', goods_ename: '', goods_vname1: '', goods_vname2: '', goods_vname3: '' },
                loadingStatus: false,
                tablePage: {
                    currentPage: 1,
                    pageSize: 50,
                    totalResult: 0
                },
                ArtImageUrl: '/Images/photo.png',
                selectRow: null,
                showEdit: false,//是否顯示編輯窗體,此值v-model雙向綁定
                Common_Find:false,
                Common_Add:false,
                formRules: {
                    goods_vname1: [
                      { required: false, message: '请输入名称' },
                      //{ min: 3, max: 5, message: '长度在 3 到 5 个字符' }
                    ],
                    goods_vname2: [
                      { required: false, message: '请输入越文2' }
                    ],
                    goods_vname3: [
                      { required: false, message: '请輸入越文3' }
                    ]
                },
            },
            created: function () {
                this.InIt();
                //this.findList3();
                this.getPermissions();
            },
            watch: {
                searchParas: {
                    handler (val, oldVal) {              
                        this.searchParas.goods_cname = this.searchParas.goods_cname.toUpperCase();
                        this.searchParas.goods_id = this.searchParas.goods_id.toUpperCase();
                        this.searchParas.goods_ename = this.searchParas.goods_ename.toUpperCase();
                        this.searchParas.goods_vname1 = this.searchParas.goods_vname1.toUpperCase();
                        this.searchParas.goods_vname2 = this.searchParas.goods_vname2.toUpperCase();
                        this.searchParas.goods_vname3 = this.searchParas.goods_vname3.toUpperCase();
                    },
                    deep: true
                },	
            },
            methods: {
                InIt: function () {
                    this.newGoods.goods_id = "111";
                    this.newGoods.goods_cname = "222";
                    this.fillData();
                },
                submitSearch(){
                    this.searchGoods(this.searchParas);
                },
                getPermissions:function(){                   
                    //AuthorityID:"20012"//物料種類菜單
                    axios.get("/BaseData/GetPermissions?AuthorityID=20012").then(
                        (response) => {                                                   
                            for (var i = 0; i < response.data.length; i++) {
                                var permiss = response.data[i]['PermissionID'];
                                switch(permiss)
                                {
                                    case 'Common_Find':
                                        this.Common_Find=true;
                                        break;
                                    case 'Common_Add':
                                        this.Common_Add=true;
                                        break;
                                }
                            }
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                },
                searchGoods:function(searchParas){
                    // console.log('回车搜索',keyCode,e); && this.input
                    this.loadingStatus = true
                        var _self = this;
                        _self.goodsList = [];
                        //if (_id.length > 0) {


                            //_self.$http.post("GetGoodsDetails", { goods_id: _id }).then(
                            //    // 传统写法
                            //    //////// Lambda写法
                            //    (response) => {
                            //        ////successCallback
                            //        for (var i = 0; i < response.data.length; i++) {
                            //            _self.goodsList.push(response.data[i]);
                            //        }
                            //    },
                            //    (response) => {
                            //        //errorCallback
                            //    }
                            //)
                            //    .catch(function (response) {
                            //        console.log(response);
                            //    });
                      
                        var searchParams={
                            goods_id:searchParas.goods_id,
                            goods_cname:searchParas.goods_cname,
                            goods_ename:searchParas.goods_ename,
                            goods_vname1:searchParas.goods_vname1,
                            goods_vname2:searchParas.goods_vname2,
                            goods_vname3:searchParas.goods_vname3,
                            pageSize:50,
                            status:[1,3]
                        }//_self.goodsList = res.data;//也可以直接賦值給數組
                        //axios.get("GetGoodsDetails", { params: { goods_id: _id, } })//也可以將參數寫在這裡
                        axios.get("SearchGoods", { params: searchParams }).then(
                        (response) => {
                            this.contactsList = [];
                            for (var i = 0; i < response.data.length; i++) {
                                _self.goodsList.push(response.data[i]);
                            }
                            //_self.goodsList.push({ goods_id:"",goods_cname:"" });
                            _self.fillData();
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });

                },
                goodsListCellClickEvent({row}){
                    this.ArtImageUrl=row.ArtImageUrl;
                },
                addRow: function (newGoods) {
                    //this.facilities.push(this.newRow);
                    //this.newGoods = {};

                    var _self = this;

                    var updateParams={
                        goods_id:newGoods.goods_id,
                        goods_cname:newGoods.goods_cname,
                        goods_ename:newGoods.goods_ename,
                        goods_vname1:newGoods.goods_vname1,
                        goods_vname2:newGoods.goods_vname2,
                        goods_vname3:newGoods.goods_vname3,

                    }//_self.goodsList = res.data;//也可以直接賦值給數組
                    //axios.get("GetGoodsDetails", { params: { goods_id: _id, } })//也可以將參數寫在這裡
                    //axios.get("AddGoods", { params: updateParams }).then(
                    //axios.post('', { contact: { Id: id, Name: name, PhoneNo: phoneno, EmailAddress: emailaddress} }).then(
                    axios.post("AddGoods", { updateParams }).then(
                    (response) => {
                        this.newGoods={
                            goods_id:"",
                            goods_cname:"",
                            goods_ename:"",
                            goods_vname1:"",
                            goods_vname2:"",
                            goods_vname3:"",
                        };
                        alert("更新成功!");
                    },
                    (response) => {
                        alert(response.status);
                    }
                ).catch(function (response) {
                    alert(response);
                });

                },
                fillData:function(){
                    this.goodsListPart = [];
                    this.tablePage.totalResult = this.goodsList.length;
                    this.goodsListPart = this.goodsList.slice((this.tablePage.currentPage - 1) * this.tablePage.pageSize, this.tablePage.currentPage * this.tablePage.pageSize);
                    this.loadingStatus = false;
                },
                editEvent (row) {
                    this.newGoods = {
                        goods_id: row.goods_id,
                        goods_cname: row.goods_cname,
                        goods_ename: row.goods_ename,
                        goods_vname1: row.goods_vname1,
                        goods_vname2: row.goods_vname2,
                        goods_vname3: row.goods_vname3
                    }
                    this.selectRow = row
                    this.showEdit = true
                },
                submitEvent () {
                    this.showEdit = false;
                    //this.$XModal.message({ content: '保存成功', status: 'success' })
                    //Object.assign(this.selectRow, this.newGoods)
                    this.addRow(this.newGoods);
                },
                handlePageChange3:function( {currentPage, pageSize }) {
                    this.loadingStatus = true;
                    this.tablePage.currentPage = currentPage;
                    this.tablePage.pageSize = pageSize;
                    //this.findList3()
                    this.fillData();
                },

            }
        });
    </script>

}
