
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="~/Content/vxe-table/js/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="~/Content/vxe-table/css/vxe-table-style.css">
    <!-- 引入脚本 -->
    <script src="~/Content/vxe-table/js/xe-utils.js"></script>
    <script src="~/Content/vxe-table/js/vxe-table.js"></script>
</head>
<body>
    <div id="app">


        <vxe-table border
                   show-overflow
                   height="500"
                   row-id="id"
                   size="small"
                   :loading="loading3"
                   :data="tableData3"
                   highlight-current-row
                   :keyboard-config="{isArrow: true}">
            <vxe-table-column type="checkbox" width="60"></vxe-table-column>
            <vxe-table-column type="seq" title="序号" width="60"></vxe-table-column>
            <vxe-table-column field="name" title="Name" sortable></vxe-table-column>
            <vxe-table-column field="sex" title="Sex"></vxe-table-column>
            <vxe-table-column field="age" title="Age"></vxe-table-column>
            <vxe-table-column field="rate" title="Rate"></vxe-table-column>
        </vxe-table>

        <vxe-pager background
                   size="small"
                   :loading="loading3"
                   :current-page="tablePage3.currentPage"
                   :page-size="tablePage3.pageSize"
                   :total="tablePage3.totalResult"
                   :page-sizes="[10, 20, 100, {label: '大量数据', value: 1000}, {label: '全量数据', value: -1}]"
                   :layouts="['PrevPage', 'JumpNumber', 'NextPage', 'FullJump', 'Sizes', 'Total']"
                   @@page-change="handlePageChange3">
        </vxe-pager>

    </div>
    <script>


            var vm=new Vue({
                el: "#app",
                data:{
                    tableData:[],
                    loading3: false,
              tableData3: [],
              tablePage3: {
                currentPage: 1,
                pageSize: 10,
                totalResult: 0
              }
                },
                created: function () {
                     this.InIt();
                    this.findList3();
                },
                methods:{
                    InIt:function(){
            this.loading = true;
            var _self = this;
            setTimeout(() => {
                var _self = this;

                    var tableData1 = [
                { id: 10001, name: 'Test1', role: 'Develop', sex: 'Man', age: 28, address: 'vxe-table 从入门到放弃' },
                { id: 10002, name: 'Test2', role: 'Test', sex: 'Women', age: 22, address: 'Guangzhou' },
                { id: 10003, name: 'Test3', role: 'PM', sex: 'Man', age: 32, address: 'Shanghai' },
                { id: 10004, name: 'Test4', role: 'Designer', sex: 'Women', age: 23, address: 'vxe-table 从入门到放弃' },
                { id: 10005, name: 'Test5', role: 'Develop', sex: 'Women', age: 30, address: 'Shanghai' },
                { id: 10006, name: 'Test6', role: 'Designer', sex: 'Women', age: 21, address: 'vxe-table 从入门到放弃' },
                { id: 10007, name: 'Test7', role: 'Test', sex: 'Man', age: 29, address: 'vxe-table 从入门到放弃' },
                { id: 10008, name: 'Test8', role: 'Develop', sex: 'Man', age: 35, address: 'vxe-table 从入门到放弃' }
              ];
                    this.tableData = tableData1;//[];//
              _self.loading=false;
            }, 1000)

    },

    findList3:function() {
        this.loading3 = true
        var _self = this;
              setTimeout(() => {
                const list = [
                  { id: 10001, name: 'Test1', nickname: 'T1', role: 'Develop', sex: '1', age: 28, address: 'Shenzhen' },
                  { id: 10002, name: 'Test2', nickname: 'T2', role: 'Test', sex: '0', age: 22, address: 'Guangzhou' },
                  { id: 10003, name: 'Test3', nickname: 'T3', role: 'PM', sex: '1', age: 32, address: 'Shanghai' },
                  { id: 10004, name: 'Test4', nickname: 'T4', role: 'Designer', sex: '0', age: 23, address: 'Shenzhen' },
                  { id: 10005, name: 'Test5', nickname: 'T5', role: 'Develop', sex: '0', age: 30, address: 'Shanghai' },
                  { id: 10006, name: 'Test6', nickname: 'T6', role: 'Develop', sex: '0', age: 27, address: 'Shanghai' },
                  { id: 10007, name: 'Test7', nickname: 'T1', role: 'Develop', sex: '1', age: 28, address: 'Shenzhen' },
                  { id: 10008, name: 'Test8', nickname: 'T2', role: 'Test', sex: '0', age: 22, address: 'Guangzhou' },
                  { id: 10009, name: 'Test9', nickname: 'T3', role: 'PM', sex: '1', age: 32, address: 'Shanghai' },
                  { id: 100010, name: 'Test10', nickname: 'T4', role: 'Designer', sex: '0', age: 23, address: 'Shenzhen' },
                  { id: 100011, name: 'Test11', nickname: 'T5', role: 'PM', sex: '0', age: 35, address: 'Shenzhen' },
                  { id: 100012, name: 'Test12', nickname: 'T6', role: 'Designer', sex: '1', age: 25, address: 'Shanghai' },
                  { id: 100013, name: 'Test13', nickname: 'T9', role: 'Develop', sex: '1', age: 33, address: 'Shenzhen' },
                  { id: 100014, name: 'Test14', nickname: 'T6', role: 'Develop', sex: '0', age: 21, address: 'Shanghai' },
                  { id: 100015, name: 'Test15', nickname: 'T6', role: 'Develop', sex: '0', age: 19, address: 'Shanghai' },
                  { id: 100016, name: 'Test16', nickname: 'T8', role: 'Develop', sex: '1', age: 29, address: 'Shenzhen' }
                ]
                _self.loading3 = false;
                _self.tablePage3.totalResult = list.length
                this.tableData3 = list.slice((this.tablePage3.currentPage - 1) * this.tablePage3.pageSize, this.tablePage3.currentPage * this.tablePage3.pageSize)
              }, 300)
            },

    handlePageChange3 ({currentPage, pageSize} ) {
              this.tablePage3.currentPage = currentPage
              this.tablePage3.pageSize = pageSize
              this.findList3()
            }

                }

            })
    </script>

</body>
</html>