@{
    //ViewBag.Title = "Right1";
    Layout = null;
}

@*<h2>Right1</h2>*@
<!DOCTYPE html>
<html lang="zh">
<head>
    <title></title>
</head>
@*<body background='~/Images/light.png'">*@
<body style="background-image:url(/Images/light.png)">

</body>
</html>
